<div class="logo-menu">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="50">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header col-md-3">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home"><i class="fa fa-building-o"></i> {{cms.settings.name}}</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav col-md-9 pull-right">
                    <li>
                        <a href="#building"><i class="fa fa-building-o"></i> Building</a>
                    </li>
                    <li>
                        <a href="#sustainability"><i class="fa fa-refresh"></i> Sustainability</a>
                    </li>
                    <li>
                        <a href="#gallery"><i class="fa fa-picture-o"></i> Gallery</a>
                    </li>
                    <li>
                        <a href="#vacancies"><i class="fa fa-briefcase"></i> Vacancies</a>
                    </li>
                    <li>
                        <a href="#download"><i class="fa fa-cloud-download"></i> Download</a>
                    </li>
                    <li>
                        <a href="#contact"><i class="fa fa-envelope"></i> Contact Us</a>
                    </li>
                    <li>
                        <a href="{{cms.settings.tenant_access_url}}"><i class="fa fa-external-link"></i> Tenant Hub</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>